*{
    padding: 0;
    margin: 0;
}
body{
    background: #cbfff8;
    font-family: sans-serif;
}
h2{
    font-size: 32px;
    margin: 50px;
}
p{
    font-size: 20px;
    padding: 20px;
}
#about{
    justify-content: center;
    text-align: center;
}
#grid-projects{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#grid-projects a img{
    width: 100%;
    transition: 0.5s ease;
}
#grid-projects a img:hover{
    transform: scale(0.9);
    transition: 0.5s ease;
}